---
import BaseLayout from "../../Layouts/BaseLayout.astro";

// Importing getCollection api to get all the posts from blog folder
import { getCollection } from "astro:content";
const pageNum = 1;
import PostPage from "../../Components/PostPage.astro";
---

<BaseLayout>
  <h1 class="text-3xl font-bold h-full">Posts</h1>
  <hr class="h-[2px] bg-black/60 m-auto my-4" />
  <PostPage pageNum={pageNum} />
</BaseLayout>
