---
import linkedIn from "../assests/images/linkedIn.svg";
import gitHub from "../assests/images/github.svg";
---

<hr class="h-[2px] bg-black/60" />
<footer
  class="my-2 flex flex-col sm:flex-row justify-center items-center gap-2 sm:gap-4"
>
  <p>Tarun Chawla &copy; 2023</p>
  <div id="social" class="flex gap-2">
    <a href=""
      ><img
        src={linkedIn}
        alt="linkedIn logo"
        width="100"
        height="100"
        class="w-[30px]"
      /></a
    ><img
      src={gitHub}
      alt="github logo"
      width="100"
      height="100"
      class="w-[30px]"
    />
  </div>
</footer>
