---
import linkedIn from "../assests/images/linkedIn.svg";
import gitHub from "../assests/images/github.svg";
---

<hr class="h-[2px] bg-black/60 my-2 mt-6" />
<footer
  class="my-4 flex flex-col sm:flex-row justify-center items-center gap-2 sm:gap-4"
>
  <p>Tarun Chawla &copy; 2023</p>
  <div id="social" class="flex gap-2">
    <a href="https://www.linkedin.com/in/tarun-chawla-hex7463/" target="_blank"
      ><img
        src={linkedIn}
        alt="linkedIn logo"
        width="100"
        height="100"
        class="w-[30px]"
      /></a
    >
    <a href="https://github.com/Tarun193/" target="_blank"
      ><img
        src={gitHub}
        alt="github logo"
        width="100"
        height="100"
        class="w-[30px]"
      />
    </a>
  </div>
</footer>
