---
// Importing Image
import programmer from "../assests/images/programmer.svg";
---

<!-- Designing Header section of the blog -->
<header class="p-4 flex justify-between items-center relative">
  <div class="flex items-center">
    <img src={programmer} alt="progarmmer svg" class="w-[60px]" />
    <h1 class="text-lg sm:text-xl">
      <span class="block">Tarun's</span><span class="block text-teal-200"
        >Dev Diary</span
      >
    </h1>
  </div>
  <nav class="hidden sm:block">
    <ul class="flex gap-6 text-lg font-semibold">
      <li class="hover:text-teal-200">
        <a href="/">Home</a>
      </li>
      <li class="hover:text-teal-200">
        <a href="/posts/">Posts</a>
      </li>
      <li class="hover:text-teal-200">
        <a href="/posts/">Tags</a>
      </li>
      <li class="hover:text-teal-200">
        <a href="/about/">About</a>
      </li>
      <li class="hover:text-teal-200">
        <a href="https://tarun-chawla.tech" target="_blank">Portfolio</a>
      </li>
    </ul>
  </nav>
  <button id="menuButton" class="space-y-2 sm:hidden">
    <div class="w-[25px] h-[3px] bg-teal-200"></div>
    <div class="w-[25px] h-[3px] bg-teal-200"></div>
    <div class="w-[25px] h-[3px] bg-teal-200"></div>
  </button>
  <nav
    id="mobileNav"
    class="min-h-screen bg-black/70 absolute top-0 left-0 w-full justify-center hidden sm:hidden"
  >
    <button id="closeMenu" class="absolute top-6 right-4 space-y-2">
      <div class="w-[30px] h-[3px] bg-teal-200"></div>
      <div class="w-[30px] h-[3px] bg-teal-200"></div>
    </button>
    <ul class="flex flex-col gap-6 text-2xl font-semibold h-[80vh] mt-10">
      <li class="hover:text-teal-200 flex-1 grid place-content-center">
        <a href="/">Home</a>
      </li>
      <li class="hover:text-teal-200 flex-1 grid place-content-center">
        <a href="/posts/">Posts</a>
      </li>
      <li class="hover:text-teal-200 flex-1 grid place-content-center">
        <a href="/posts/">Tags</a>
      </li>
      <li class="hover:text-teal-200 flex-1 grid place-content-center">
        <a href="/about/">About</a>
      </li>
      <li class="hover:text-teal-200 flex-1 grid place-content-center">
        <a href="https://tarun-chawla.tech" target="_blank">Portfolio</a>
      </li>
    </ul>
  </nav>

  <script>
    const menuButton = document.getElementById("menuButton");
    const mobileNav = document.getElementById("mobileNav");
    const closeMenuButton = document.getElementById("closeMenu");

    let open = false;

    const openClose = () => {
      mobileNav.classList.toggle("flex");
      mobileNav.classList.toggle("hidden");
      menuButton.classList.toggle("hidden");
      if (!open) {
        document.body.style.overflow = "hidden";
      } else {
        document.body.style.overflow = "";
      }
      open = !open;
    };

    menuButton.onclick = openClose;
    closeMenuButton.onclick = openClose;
  </script>

  <style>
    #closeMenu div:first-child {
      rotate: 45deg;
    }
    #closeMenu div:last-child {
      rotate: -45deg;
      transform: translate(8px, -8px);
    }
  </style>
</header>
