---
import { CollectionEntry } from "astro:content";
import Post from "./post.astro";

export interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<section class="mt-8 px-2">
  <h2 class="text-2xl font-bold">Recent Posts</h2>
  <div>
    {
      !posts.length ? (
        <p class="text-lg text-center font-semibold mt-6">
          Sorry for Now there are no Post
        </p>
      ) : (
        <section class="my-4">
          {posts.map((post) => (
            <Post post={post} />
          ))}
        </section>
      )
    }
  </div>
</section>
