---
// Important Imports
import Header from "../Components/Header.astro";
import programmer from "../assests/images/programmer.svg";
import Footer from "../Components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={programmer} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Tarun Chawla" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Delve into a comprehensive knowledge-sharing platform, where I, an enthusiastic developer, share insights from my journey in the tech world. This blog serves as a beacon, illuminating various concepts, trending technologies, and my personal experiences in software development."
    />
    <title>Tarun's Dev Diary</title>
    <!-- Adding Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
  </head>

  <body
    class="font-Roboto-Mono tracking-wide min-h-screen bg-gradient-to-b from-gray-900 to-black/90 text-white max-w-5xl mx-auto flex flex-col"
  >
    <Header />
    <main class={`flex-1 my-2 px-4 ${className}`}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
